header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00b894;
    border-bottom: 10px solid #2d3436;
    padding: 20px 50px
}

#logo {
    display: inline-flex;
    height: 62px;
    width: 86px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
}

a::before {
    content: "";
    background-color: #0984e3;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    background-color: #0984e3;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #2d3436;
    margin: 0px;
    transition: 0.2s;
}

.button:hover {
    transform: scale(1.02);
    background-color: #2541B2;
}

.button:active {
    background-color: #03256C;
}